// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

/// Color overrides
$primary: #004f86 !default; // Whited “blue”
$secondary: #f5c841 !default; // Whited “yellow”
$success: #8a5a2d !default; // Whited “brown”
$light: #ffffff !default; // white
$dark: #000000 !default; // black
$font-family-sans-serif: "Inter", system-ui, sans-serif; //fonts
$headings-font-weight: 700;

/* --- SASS-WATCH-TEST --- */
